@font-face {
    font-family: euro;
    src: url(/fonts/eurof55.ttf);
}

@font-face {
    font-family: lato-bold;
    src: url(/fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: lato-regular;
    src: url(/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: champagne-bold;
    src: url(/fonts/Champagne-Bold.ttf);
}

@font-face {
    font-family: champagne;
    src: url(/fonts/ChampagneLimousines.ttf);
}