/* flex */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.col {
    flex-direction: column;
}

.flex.gap {
    gap: 2.5rem;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pointer {
    cursor: pointer;
}

.hide {
    display: none;
}